snippet rfcp "React FC with Props" b
import React from 'react';

interface Props {
	$2
}

const ${1:Component} = ({ $3 }: Props) => {
	return (
		<${4:div}>
		</${4:div}>
	)
}

export default ${1:Component};
endsnippet
